
div.block-programming-ui {

    background-color: rgb(212, 212, 212);
    position: relative;
    overflow: hidden;
    font-family: "Lucida Console", "Courier New", monospace;

    & div.menu-block {
        width: 25%;
        height: 100%;
        background-color: rgba(0,0,0, 0.1);
        overflow-y: scroll;

        & div.garbage {
            margin: 1.5vh;
            height: 8vh;
            border: 3px dashed #c072ff;
            color: #c072ff;
            font-size: 1.6em;

            display: flex;  /* center text */
            justify-content: center;
            align-items: center;
        }

        & div.block {
            position: relative;
            width: fit-content;
        }
        & div:has(div.block) {
            width: fit-content;
            margin: 1em auto;
        }
    }

    & div.block {
        position: absolute;
        cursor: grab;
        padding: 0.5em 1.2em;
        border-radius: 5px;
        outline: 2px rgba(0,0,0, 0.1) solid;
        overflow: hidden;

        display: flex;  /* center text */
        justify-content: left;  /* code to left */
        align-items: center;

        -webkit-user-select: none; /* Safari */  /* disable text selection */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */

        & *:nth-child(n+1) {
            margin-left: 8px;
        }

        & div.value-container {
            border: 2px dashed rgb(114, 241, 114);
            border-radius: 5px;
            color: rgb(68, 185, 68);
            padding: 0.5em 1.2em;
        }
        & div.block-container {
            border: 2px dashed rgb(73, 214, 233);
            border-radius: 5px;
            color: rgb(47, 171, 187);
            padding: 0.5em 1.2em;
        }
        & div.fill-container {
            border: none;
            color: black;
            padding: 0;

            & * {
                position: relative;
            }
        }

        & div.hidde {
            display: none;
        }

        & div.block-inner-line {
            margin: 0;

            display: flex;/* center text */
            justify-content: left;
            align-items: center;
        }
        & div.block-inner-line > *:first-child {
            margin-left: 0;
        }
        & div.block-inner-line > *:nth-child(n+2) {
            margin-left: 8px;
        }
        & div.block-inner-line:nth-child(n+2) {
            margin-top: 8px;
        }
        & div.block-inner-line.indent {
            margin-left: 24px;
            justify-content: left;
        }
    }
    & div.block[grab-on] {
        cursor: grabbing;
        opacity: 0.6;
        box-shadow: -2px 2px 4px rgba(0,0,0, 0.4);
        z-index: 100;
        padding: 0.5em 1.2em !important;  /* overide padding for grab-on, over css into balise */

        & * {
            display: none;  /* hidde balise child when grab-on (for stay pointer-move event) */
            margin: 0 !important;
        }
        & div.show-on-grab {
            display: block;
        }
    }
    & div.block.delete-pop-scale {
        animation-name: delete-pop-scale;
        animation-duration: 0.6s;
    }
    & div.block:has(> div.block-inner-line) {
        display: block;
    }

    & div.block[block-group=event] {
        background-color: rgb(255, 157, 92);
    }
    & div.block[block-group=action] {
        background-color: rgb(73, 214, 233);
    }
    & div.block[block-group=condition] {
        background-color: rgb(255, 193, 74);
    }
    & div.block[block-group=value] {
        background-color: rgb(114, 241, 114);
    }

    & div.block-list {
        position: absolute;
        width: fit-content;

        & div.block {
            position: relative;
        }
    }

}


@keyframes delete-pop-scale {
    0%   { transform: scale(1, 1); }
    10%  { transform: scale(1.1, 1.1); }
    100% { transform: scale(0, 0); }
}