
div.block-programming-ui {

    background-color: rgb(212, 212, 212);
    overflow: hidden;
    font-family: "Lucida Console", "Courier New", monospace;

    & div.menu-block {
        width: 25%;
        height: 100%;
        background-color: rgba(0,0,0, 0.1);
        overflow-y: scroll;

        & div.garbage {
            margin: 1.5vh;
            height: 8vh;
            border: 3px dashed #c072ff;
            color: #c072ff;
            font-size: 1.6em;

            display: flex;  /* center text */
            justify-content: center;
            align-items: center;
        }

        & div.block {
            position: relative;
            width: fit-content;
        }
        & div:has(div.block) {
            width: fit-content;
            margin: 1em auto;
        }
    }

    & div.block {
        position: absolute;
        cursor: grab;
        padding: 0.5em 1.2em;
        border-radius: 5px;
        outline: 2px rgba(0,0,0, 0.1) solid;

        display: flex;  /* center text */
        justify-content: center;
        align-items: center;

        -webkit-user-select: none; /* Safari */  /* disable text selection */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
    & div.block[grab-on] {
        cursor: grabbing;
    }

    & div.block-orange {
        background-color: rgb(255, 157, 92);
    }

}

